body{
    background-color: 	#faf8f2;
    color:#403c33;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding:0;
    margin:0;

}

#title{
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 60px;
    font-weight: 500;
    color:#403c33;
}
#sidebar-empty{ /*Used to just push canvas to center, since if we have sidebar of equal size on both sides of canvas, then it will be centered*/
    width: 225px;

}
#container{
    display:flex;
}

#canvas{
    background-color: white;
    height: 500px;
    width: 500px;
    box-sizing: border-box;
    border: 1px solid #a6a090
}

#sidebar{
    margin-right: 25px;
    width: 200px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

button{
    width: 200px;
    height: 40px;
    font-size: 18px;
    font-weight: 250;
    background-color:#faf8f2;
    color:#403c33;
    border-radius: 8px;
    border: 1px solid #403c33;
}

#color-picker{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100px;
    height: 100px;
    border: none;
    background-color: transparent;
}

/*These are used to control the appereance of form controls in browsers
-webkit: Chrome, Safari, etc
-moz: Firefox
so we set the pre-set webkit/moz appereance to none but use them to modify the border radius to make rounded corners
since it doesn't work in HTML for color-picker
*/
#color-picker::-webkit-color-swatch{
    border-radius: 8px;
    border:none ;
}

#color-picker::-moz-color-swatch{
    border-radius: 8px;
    border:none ;
}


#canvas-size{
    margin-top: 10px;
    width:100%;
    text-align: center;
}

#canvas-size div{
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 500;
}
#canvas-slider{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width:100%;
    height: 25px;
    border: 1px solid #403c33;
    background-color: 	#faf8f2;
}

#canvas-slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    width:25px;
    height:25px;
    background-color: #403c33;
}

#canvas-slider::-moz-range-thumb{
    -moz-appearance: none;
    width:25px;
    height:25px;
    background-color: #403c33;
}

#footer{
    background-color: #faf8f2;;
    width: 100%;
    gap: 10px;
    padding: 15px;
    margin-top: auto;
    align-self: flex-end; 
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#footer img{
    width: 25px;
    height: 25px;
}